.commits {
    form {
        .input {
            float: left;
            margin-left: 20px;
        }
    }
.container-commits {
    clear: both;
    display: flex;
    margin-top: 110px;
    align-items: center;
    flex-direction: column;
}
}
