.window {
    p, h1, h2, h3, h4, h5, h6, small, a, td, th {
        font-family: 'Open Sans', sans-serif;
    }

    .hound {
        width: 240px;
        position: fixed;
        z-index: 10;
        right: 30px;
    }
}